<div class="container mt-5">
  <h1>Ask</h1>

  <form action="answer" method="get" data-turbo="false">
    <p>Ask your coach anything:</p>
    <input
    type="text"
    name="question"
    placeholder="Type your question"
    value=<%= params[:question] %>>

    <input type="submit" value="Ask" class="btn btn-primary">
  </form>
</div>
